body,
#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

.container {
  font-family: 'Lato', sans-serif;
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 82% 18%;
  grid-template-areas:
    'today today today day day day day day day day'
    'form form form form form form form form form form';
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.today {
  display: grid;
  grid-area: today;
}

.weekContainer {
  display: grid;
  grid-area: day;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'day1 day2 day3 day4 day5 day6 day7';
}

.form {
  display: grid;
  grid-area: form;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background: black;
}

.inputContainer1 {
  box-sizing: border-box;
  border: 2px solid white;
  background: black;
  align-self: center;
  justify-self: center;
  width: 95%;
  height: 60%;
}

.inputContainer2 {
  box-sizing: border-box;
  border: 2px solid white;
  background: black;
  align-self: center;
  justify-self: center;
  width: 95%;
  height: 60%;
}

.inputGuide {
  color: white;
  font-size: 14px;
  background-color: black;
  width: 131px;
  margin-left: 20px;
  padding-left: 15px;
  margin-right: 0;
  margin-top: -10px;
  margin-bottom: 0;
}

#leftInput {
  width: 107px;
}

input::placeholder {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.inputBox {
  background-color: black;
  box-sizing: border-box;
  color: white;
  border: none;
  font-size: 270%;
  border-radius: 3px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding-left: 5.5%;
  padding-top: 2%;
  width: 100%;
  height: 80%;
}

input:focus {
  outline: none;
}

.dailyWeather {
  position: relative;
  justify-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas:
    'day'
    'skyicon'
    'temp';
}
.icon {
  grid-area: skyicon;
  height: auto !important;
  align-self: end;
  margin-bottom: 15%;
}

.temp {
  align-self: start;
  grid-area: temp;
  font-size: 230%;
  color: white;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  height: 0;
  margin: 0;
}

.today {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas:
    'day'
    'skyicon'
    'temp';
}
